:root {
--light-blue: #2196f3;
--black: #212121;
--white: #ffffff;
--main-background-color: #2f303a;
--grey: #757575;
--links-footer-color: rgba(255, 255, 255, 0.6);
--border-bottom-color:#ececec;
--lorem-icon-background:#F5F4FA;
--our-clients-border:#AFB1B8;
}
* {
box-sizing: border-box;
margin: 0 auto;
padding: 0;
}
body {
font-family: "Roboto", sans-serif;
font-weight: 400;
color: var(--black);
}
/* ------------------------------- HEADER START--------------------- */

.container {
width: 1200px; } 

.container__header {
display: flex;
align-items: center;
justify-content: center; 
}

.header {
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color:var(--border-bottom-color);
display: flex;}


.header__logo {
font-family: "Raleway";
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
color: inherit;
margin-right: 93px;
text-decoration: none;
}

.header__logo--color {
color: var(--light-blue);}
  
.navigation{
display: flex;
padding-top: 32px;
padding-bottom: 32px;
text-decoration: none;
list-style-type: none;
}

.navigation__links{
 display:flex;
list-style-type: none;
gap:32px;}

.navigation__links-list{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: inherit;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
text-decoration: none;}

.navigation__links-list:focus {
color: var(--light-blue);}

.navigation__links-list:hover {
color: var(--light-blue);}

.navigation--active {
color: var(--light-blue);
position:relative;}
  
.navigation--active::after{
content:"";
border-bottom:solid 4px var(--light-blue);
width:53px;
color:var(--light-blue);
display: block;
position:absolute;
bottom:-32px; }

.header__contact{
display: flex;
list-style-type: none;
margin-left: 371px;
gap:32px;
}

.header__contact-links{
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
color: inherit;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
text-decoration: none;} 


.header__contact-links:hover svg,
.header__contact-links:focus svg{ fill:var(--light-blue);} 

.header__contact-links:focus,
.header__contact-links:hover {
color: var(--light-blue);}

.header__contact-icon{vertical-align: middle; 
fill: var(--grey);
margin-right:10px;}

/* ------------------------------- HEADER END--------------------- */
/* ------------------------------- HERO START--------------------- */
.hero {
display: flex;
padding-top: 94px;
margin-bottom: 94px;
width:1600px;
background-image:linear-gradient(#2F303A66, #2F303A66),
url('../images/Img.jpg');
background-color: var(--main-background-color);
margin:0 auto;  
color: var(--white);}

.hero__title {
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
padding-left: 252px;
padding-right: 252px;
padding-top: 104px;
text-align: center;
margin-bottom: 30px;
text-transform: uppercase;}

.hero__button {
cursor: pointer;
font-family: inherit;
font-weight: 700;
padding: 10px 41px 10px 42px;
margin-bottom: 104px;
left: 700px;
top: 430px;
color: var(--white);
background:var(--light-blue);
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
border:none;}

.container__main{
width:1200px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center
}


/* ------------------------------- HERO END--------------------- */

/* ------------------------------- LOREM START--------------------- */

.lorem{
padding-top: 94px;
padding-bottom: 94px;}

.lorem__links{ 
display:flex;
list-style-type:none;
gap:30px;}

.lorem__icon{
padding: 25px 102.34px;
margin-bottom: 30px;
background:var(--lorem-icon-background);
border-radius: 4px;}

.lorem__title{
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
padding-bottom: 10px;}

.lorem__subtitle {
font-size: 14px;
line-height: 1.71;
color: var(--grey);
letter-spacing: 0.03em;}

/* ------------------------------- LOREM END--------------------- */

/* ------------------------------- JOB START--------------------- */

.container__job{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:1200px;}

.job{
display:flex;
padding-bottom:94px;
}

.job__title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
padding-bottom: 50px;}

.job__links{
display:flex;
list-style-type:none;
gap:30px;
}

.job__box{
position:relative;
display: flex;}

.job__subtitle{
font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height:1,14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--white);
text-align: center;
background-color: #2F303ACC;
position:absolute;
padding-top:27px;
padding-bottom:27px;
width:370px;
left:0;
bottom:0}
 
/* ------------------------------- JOB END--------------------- */

/* ------------------------------- TEAM START--------------------- */

.container__team{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width:1200px;}

.team {
display: flex;
background:var(--lorem-icon-background);
padding-top: 94px;
padding-bottom:94px}  
  
.team__title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
padding-bottom: 50px;}

.team__links{
list-style-type: none;
display:flex;
gap:30px;}

.team__img{
background: var(--white);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
 1px 4px 6px rgba(0, 0, 0, 0.16); 
border-radius: 0px 0px 4px 4px;
text-align: center;}
    
.team__name{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
padding-top: 30px;
}

.team__description {
font-size: 16px;
line-height: 1.88;
color: var(--grey);
padding-bottom:16px;}

.team__icon-list{
display:flex;
list-style-type:none;
padding-right:32px;
padding-left:32px;
padding-bottom:30px;
padding-top:16px;
}

.team__icon{
padding:12px;
display:flex;
justify-content: center;
align-items: center;
outline:none;}

.team__icon:hover svg,
.team__icon:focus svg{
fill: var(--white);}
    
.team__icon:hover, 
.team__icon:focus{
background-color:var(--light-blue);
border-radius:50%;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  
/* ------------------------------- TEAM END--------------------- */


/* ------------------------------- CLIENTS START--------------------- */

.container__clients{
width:1200px;
display: flex;;
justify-content: center;
align-items: center;
flex-direction: column;}

.clients{
padding-top: 94px;
padding-bottom: 94px;}

.clients__title{
font-weight: 700;
font-size: 36px;
line-height: 1.16;
padding-bottom: 50px;}

.clients__links{
list-style-type: none;
display: flex;
gap:30px;}

.clients__logo{
border: 1px solid var(--our-clients-border);
border-radius: 4px;
padding:16px 32px;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.clients__logo:hover,
.clients__logo:focus
{border-color: var(--light-blue);
transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
cursor:pointer;}

.clients__logo:hover svg,
.clients__logo:focus svg{
fill:var(--light-blue);
transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

/* ------------------------------- CLIENTS END--------------------- */

/* ------------------------------- FOOTER START--------------------- */


.container__footer{
display: flex;
width:1200px;}

.footer{
background-color: var(--main-background-color);
color: var(--white);
padding-top: 60px;
padding-bottom: 60px;}
  
  
.footer__contact-logo{
font-family: "Raleway";
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;}
  
.footer__contact-logo--color{
color: var(--light-blue);}
  

.footer__contact-logo--nonecolor {
color: var(--white);}

.address{ 
margin-top:20px;

}
.address__contact-list{
list-style-type:none}

.address__contact-list--city{
color: var(--white);
font-size: 14px;
line-height: 1.71;
font-style: normal;
margin-bottom:9px;}

.address__item{
text-decoration: none;
margin-bottom:9px;}

.address__links{
color: var(--links-footer-color);
font-style: normal;
text-decoration: none;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.address__links:focus,
.address__links:hover {
color: var(--light-blue);}

.media{
margin-left:80px;
margin-right:100px;}

.media__title{
font-style:Bold;
font-size:14px;
font-weight: 700;
line-height:1,14;
letter-spacing:3%;
margin-bottom:20px;}

.media__list{
list-style-type: none;
display: flex;
gap:10px;
}

.media__icon-group{
padding:12px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.1);
display:flex;
justify-content: center;
align-items: center;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
outline:none;
fill:var(--white);}

.media__icon-group:hover,
.media__icon-group:focus{background-color:var(--light-blue);
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
      

.form{
display:flex;
align-items:flex-end;
gap:12px;}

.form__input
{display: flex;
flex-direction: column;}

.form__label{
font-style:Bold;
font-size:14px;
font-weight: 700;
line-height:1,14;
letter-spacing:3%;
margin-bottom:20px;
margin-left:0px;}

.form__input-details{
padding-left:16px;
padding-top: 15px;
padding-bottom:15px;
width: 358px;
background-color: #2F303A;
border-radius:4px;
border: 1px solid  rgba(255, 255, 255, 0.3);}

.form__button{
background-color:var(--light-blue);
font-family:'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1,875;
letter-spacing: 0.06em;
color:var(--white);
text-align: start;
padding-left:42px;
padding-top:16px;
padding-bottom:16px;
padding-right:24px;
border-radius:4px;
border:none;
width:200px;
position:relative;}

.form__icon{
fill: var(--white);
margin-left:24px;
position: absolute;
top:30%; }

/* ------------------------------- FOOTER END--------------------- */

/* ------------------------------- MODAL START--------------------- */

.overlay{
display:flex;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:#00000033;
justify-content: center;
align-items: center;  
}

.overlay__is-hidden{opacity: 0;
visibility: hidden;
pointer-events: none;
transform:scale(0);}

.overlay.overlay__is-hidden .modal {
transform: scale(0);}
    
.modal
{width:530px;
height: 580px;
position: relative;
background: #fff;
transform: scale(1);
transition:transform 250ms linear;
color:var(--black);}


.close-btn{position: absolute;
top:8px;
right:8px;
width:30px;
height:30px;
background-color: #fff;
border:1px solid rgba(0,0,0,0.1);
border-radius: 50%;
cursor:pointer;
}

.modal__title{
font-family: "Roboto";
font-style: Bold;
font-weight:700;
font-size: 20px;
line-height: 1,15;
letter-spacing:3%;
margin-top:0 auto;
text-align: center;
margin-top:40px;
margin-bottom:12px;
}

.modal__field{
margin-bottom:10px;
display: flex;
flex-direction:column;
margin-right:40px;
margin-left:40px;
}
  
.modal__input{
border-radius:4px;
border: 1px solid rgba(33, 33, 33, 0.2);
position: relative;
height:40px;
padding-left:40px;
outline: none;
}
  
.modal__textarea{
padding:12px 16px;
margin-bottom :20px;
border-radius:4px;
border: 1px solid rgba(33, 33, 33, 0.2);
outline:none;}
  
.modal__textarea:hover,
.modal__textarea:focus{border-color:var(--light-blue);
transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  
.modal__label{
margin-left:0;
font-family: "Roboto";
font-size:12px;
line-height: 1,16;
letter-spacing: 1%;
color: var(--grey);
margin-bottom:4px;
}

.modal__field svg{
position: absolute;
transform:translateY(100%);
z-index: 1;
margin-left:12px;
margin-top:11px;
}

.modal__input:hover{
border-color: var(--light-blue);transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
 
.modal__field:hover svg{
fill:var(--light-blue);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
  
.modal__input:focus{
border-color: var(--light-blue);
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
 
.modal__input:focus + svg{
fill:var(--light-blue);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
  
.modal__checkbox{
font-family: "Roboto";
font-weight: 400;
font-size: 14px;
line-height: 1,71;
letter-spacing: 0.03em;
color:var(--grey);
margin-left:54px;
position:relative;
display: flex;
align-items: center;
}

.modal__span{
color:var(--light-blue);
text-decoration: underline;
margin:3px; 
}

.modal__checkbox-input[type='checkbox']{
appearance: none;
border: 2px solid var(--black);
border-radius:2px;
width:16px;
height:15px;
margin:0;
background:#fff;
margin-right:8px;  }
    
.modal__checkbox svg{
position:absolute;
opacity: 0;  
}

.modal__checkbox-input[type='checkbox']:checked + svg {
opacity: 1;
transition:opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  
.modal__button{
background-color: var(--light-blue);
color:var(--white);
border:none;
border-radius:4px;
padding:10px 76px;
margin:0 auto;
display:block;
margin-top:30px;
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1,875;
letter-spacing: 0.06em;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
/* -------------------------------- MODAL END-------------------------------------------- */
  
/* -------------------------------- PORTFOLIO START-------------------------------------------- */


.portfolio{ 
padding-top: 94px;
padding-bottom: 94px;}

.container__portfolio{
width:1200px;
display: flex;
align-items: center;
justify-content: center; }

.portfolio__buttons{
display: flex;
list-style-type: none;
justify-content:center;
gap:8px;
}

.portfolio__single-button{
cursor: pointer;
font-family: inherit;
font-weight: 500;
padding: 6px 22px;
border-radius: 4px;
margin-bottom: 30px;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
border: none;}


.portfolio__single-button:focus,
.portfolio__single-button:hover{
background-color: var(--light-blue);
color: var(--white);
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16); 
border:none }

.portfolio__wrapper{
list-style-type: none;
display: flex;
flex-wrap:wrap;
gap:30px;
}

.portfolio__shadow:hover{
box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16); }

.portfolio__hidden{
overflow:hidden;}

.portfolio__figure{transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); position:relative;
}
  
.portfolio__figure:hover .portfolio__technocrack {
opacity:1; 
transform: scale(1);
transform: translateY(0);  }


.portfolio__technocrack{
position:absolute;
opacity: 0; 
transform:scale(0);
transform: translatey(100%);
transition: transform 250ms ease;
top:0;
left:0;}

.portfolio__text{font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 18px;line-height: 1.55;
letter-spacing: 0.03;
background-color: rgba(33, 150, 243, 0.9);
color: var(--white);
padding-left:24px;
padding-top:49px;
padding-bottom:49px;
padding-right:45px;
}

.portfolio__figcaption{
border-bottom: solid 1px #eeeeee;
border-left: solid 1px #eeeeee;
border-right: solid 1px #eeeeee;
padding-left: 24px;
align-content: center;
padding-bottom: 20px;
padding-top: 20px;}

.portfolio__title{
font-weight: 700;
font-size: 18px;
line-height: 2;}

.portfolio__subtitle{
font-size: 16px;
line-height: 1.88;
color: var(--grey);
padding-bottom:16px;}

/* -------------------------------- PORTFOLIO END-------------------------------------------- */
