menu{

    position: fixed;
    display: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 2rem;
width:480px;
height: 796px;
background:$white;
color:$black;

.is-open{
    transform: translateX(0);
}
}


  
    
  
//   &__container {
//     position: fixed;
//     top: 0;
//     left: 0;
//     width: 100vw;
//     height: 100vh;
//     padding: 32px;
//     background-color: #3f51b5;
//     z-index: 999;
  
//     transform: translateX(100%);
//     transition: transform 250ms ease-in-out;
//   }
  
//   &__container.is-open {
//     transform: translateX(0);
//   }
  
//   &__container  {
//     position: absolute;
//     top: 16px;
//     right: 16px;
//     color:$white;
//   }
  

// }}