
.container{
    margin:0 auto;




&__header {
display: flex;
align-items: center;
margin:0 auto;

}

&__hero{
display: flex;
justify-content: center;
display:block;
}

&__team{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
&__clients{
display: flex;;
justify-content: center;
align-items: center;
flex-direction: column;}


&__footer{
    display:flex;
    flex-direction: column;
}



}
// .container {
//     width:1200px;
// }



// &__header {
// display: flex;
// align-items: center;
// justify-content: center;

// }
 


// &__main{
// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;}

// &__job{
// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;}

// &__team{
// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
// }

// &__clients{
// display: flex;;
// justify-content: center;
// align-items: center;
// flex-direction: column;}

// &__footer{
// display: flex;
// }

// &__portfolio{
// display: flex;
// align-items: center;
// justify-content: center;
//  }}