.footer{
  background-color:$main-background-color;
  color:$white;
  padding-top: 60px;
  padding-bottom: 60px;
        

  &__contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    @media(min-width:768px){
      width:50%;
      margin:0;
    }

    @media(min-width:1200px){
      display:block;
      width:unset;
      margin:unset;

    }
  }
        
  &__contact-logo{

    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 1,16;
text-align: center;
letter-spacing: 0.03em;
letter-spacing: 0.03em;
  text-decoration: none;

    @media(min-width:1200px){
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: none;
  }}
        
  &__logo-color{
  color: $light-blue;}
        
      
  &__logo-nonecolor {
  color: $white;}}