.job{
display:flex;
padding-bottom:94px;

    
&__title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
padding-bottom: 50px;}
    
&__links{
display:flex;
list-style-type:none;
gap:30px;
}
    
&__box{
position:relative;
display: flex;}
    
&__subtitle{
font-family: "Roboto";
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height:1,14;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color:$white;
text-align: center;
background-color: #2F303ACC;
position:absolute;
padding-top:27px;
padding-bottom:27px;
width:370px;
left:0;
bottom:0}}