.overlay{
display:flex;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background-color:#00000033;
justify-content: center;
align-items: center;   
        
&__is-hidden{opacity: 0;
visibility: hidden;
pointer-events: none;
transform:scale(0);}
        
&__is-hidden .modal {
transform: scale(0);}}


.close-btn{position: absolute;
    top:8px;
    right:8px;
    width:30px;
    height:30px;
    background-color:$white;
    border:1px solid rgba(0,0,0,0.1);
    border-radius: 50%;
    cursor:pointer;
    }
.modal

{ width:100%;
max-width:450px;
height:100%;
margin:10px;
width:95%;
max-height:609px;  
position: relative;
background:$white;
transform: scale(1);
transition:transform 250ms linear;
color:$black;

@media(min-width:480px) {
margin:unset;

max-width:450px;
height: 609px;
}
@media(min-width:1200px) {
margin:unset;
max-width:530px;
height: 580px;
}



&__title{
font-family: "Roboto";
font-style: Bold;
font-weight:700;
font-size: 20px;
line-height: 1.5;
letter-spacing:3%;
margin-top:0 auto;
text-align: center;
// margin-top:40px;
// margin-bottom:12px;
padding:40px 40px 12px 40px;

@media(min-width:1200px){
    line-height:1.15;
    
}
}

&__field{
margin-bottom:10px;
display: flex;
flex-direction:column;
margin-right:40px;
margin-left:40px;
}
  
&__input{
border-radius:4px;
border: 1px solid rgba(33, 33, 33, 0.2);
position: relative;
height:40px;
padding-left:40px;
outline: none;
}
  
&__textarea{
padding:12px 16px;
margin-bottom :20px;
border-radius:4px;
border: 1px solid rgba(33, 33, 33, 0.2);
outline:none;}
  
&__textarea:hover,
&__textarea:focus{border-color:$light-blue;
transition:border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  
&__label{
margin-left:0;
font-family: "Roboto";
font-size:12px;
line-height: 1,16;
letter-spacing: 1%;
color:$grey;
margin-bottom:4px;
}

&__field svg{
position: absolute;
transform:translateY(100%);
z-index: 1;
margin-left:12px;
margin-top:11px;
}

&__input:hover{
border-color:$light-blue; transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
 
&__field:hover svg{
fill:$light-blue;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
  
&__input:focus{
border-color:$light-blue;
transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);}
 
&__input:focus + svg{
fill:$light-blue;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}
  
&__checkbox{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 1.71;
letter-spacing: 0.03em;
color:$grey;
padding:0 40px;
position:relative;
align-items: center;
display:block;




@media(min-width:1200px){
font-size: 14px;
// margin-left:54px;
// padding:unset;
}}

&__span{
color:$light-blue;
text-decoration: underline;
margin:1px; 
@media(min-width:1200px){
    margin:3px;
}
}

&__checkbox-input[type='checkbox']{
appearance: none;
border: 2px solid $black;
border-radius:2px;
width:16px;
height:15px;
margin:0;
background:$white;
margin-right:8px;  }
    
&__checkbox svg{
position:absolute;
opacity: 0;  
left:40px;

}

&__checkbox-input[type='checkbox']:checked + svg {
opacity: 1;
transition:opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  
&__button{
background-color: $light-blue;
color:$white;
border:none;
border-radius:4px;
padding:10px 76px;
margin:0 auto;
display:block;
margin-top:30px;
font-family: 'Roboto';
font-weight: 700;
font-size: 16px;
line-height: 1,875;
letter-spacing: 0.06em;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}}