
.portfolio{ 
padding-top: 94px;
padding-bottom: 94px;



&__buttons{
display: flex;
list-style-type: none;
justify-content:center;
gap:8px;
}

&__single-button{
cursor: pointer;
font-family: inherit;
font-weight: 500;
padding: 6px 22px;
border-radius: 4px;
margin-bottom: 30px;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1);
transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
border: none;}


&__single-button:focus,
&__single-button:hover{
background-color:$light-blue;
color: $white;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16); 
border:none }

&__wrapper{
list-style-type: none;
display: flex;
flex-wrap:wrap;
gap:30px;
}

&__shadow:hover{
box-shadow:  0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
1px 4px 6px rgba(0, 0, 0, 0.16); }

&__hidden{
overflow:hidden;}

&__figure{transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); position:relative;
}
  
&__figure:hover .portfolio__technocrack {
opacity:1; 
transform: scale(1);
transform: translateY(0);  }


&__technocrack{
position:absolute;
opacity: 0; 
transform:scale(0);
transform: translatey(100%);
transition: transform 250ms ease;
top:0;
left:0;}

&__text{font-family: "Roboto";
font-style: normal;
font-weight: 400;
font-size: 18px;line-height: 1.55;
letter-spacing: 0.03;
background-color: rgba(33, 150, 243, 0.9);
color:$white;
padding-left:24px;
padding-top:49px;
padding-bottom:49px;
padding-right:45px;
}

&__figcaption{
border-bottom: solid 1px #eeeeee;
border-left: solid 1px #eeeeee;
border-right: solid 1px #eeeeee;
padding-left: 24px;
align-content: center;
padding-bottom: 20px;
padding-top: 20px;}

&__title{
font-weight: 700;
font-size: 18px;
line-height: 2;}

&__subtitle{
font-size: 16px;
line-height: 1.88;
color: $grey;
padding-bottom:16px;}}

/* -------------------------------- PORTFOLIO END-------------------------------------------- */
